@model string

@{
    ViewBag.Title = "ResultManagement";

    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("GetAllTestingResults"),
        LoadingElementDuration = 1000,
        LoadingElementId = "loading",
        OnSuccess = "processData"
    };
}

<script type="text/javascript">
    $(document).ready(function () {
        var actionUrl = '@Url.Action("GetAllTestingResults")';
        $.getJSON(actionUrl, processData);
    });

    function processData(data) {
        console.log(data);
    }
</script>

<h2>ResultManagement</h2>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}