
@{
    ViewBag.Title = "TestingUrlManagement";
}

<h2>TestingUrlManagement</h2>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var actionUrl = '@Url.Action("GetAllTestingUrls")';
            $.getJSON(actionUrl, processData);
        });

        function processData(data) {
            console.log(data);
        }
    </script>
}